.env
.env.*
!.env.template
!.env.example
node_modules/
dist/
.local/
coverage/
*.json
!package.json
!package-lock.json
!tsconfig.json
!tsconfig.check.json
.rvc/
docs/
scripts/
!assets/emoji-manifest.json
audio/
!assets/fonts/.gitkeep
